* {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

.home .main-cols {
  min-height: 400px;
}

.top-nav-container {
  background-color: rgba(255, 255, 255, 0.923);
  border-bottom: 1px solid #7a7a7a;
}

.navbar {
  border-radius: 2px;
}

.navbar h4 {
  color: black;
}

.navbar h4:hover {
  padding-left: 10px;
  color: goldenrod;
  list-style-type: none;
  transition: 0.2s ease-in-out;
}

.navbar .nav-item, .navbar h4, .navbar .nav-link {
  font-weight: 100;
  color: black;
}

.navbar .nav {
  padding: 5px;
}

.navbar .nav-link {
  text-align: center;
}

.navbar .nav-link:hover {
  color: goldenrod;
  margin-top: 0px;
  box-shadow: 3px 3px goldenrod;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: 0.1s ease-in-out;
}

.archive-nav {
  border-right: 4px solid #5d5d5d;
  padding: 20px;
  padding-left: 0;
  padding-top: 20;
  border-radius: 4px;
  background-color: white;
}

@media screen and (max-width: 940px) {
  .archive-nav {
    padding-right: 4px;
  }
}

.archive-nav h6 {
  font-weight: 100;
  padding-left: 20px;
}

.archive-nav ul.list-group .list-group-item {
  padding-left: 40px;
  background-color: #00163b;
}

@media screen and (max-width: 940px) {
  .archive-nav ul.list-group .list-group-item {
    padding-left: 16px;
  }
}

.archive-nav li a {
  color: orange;
}

.archive-nav .list-group-item:hover {
  border-right: 5px solid goldenrod;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
}

.blog-nav {
  padding: 40px;
  margin-top: 20px;
}

@media screen and (max-width: 940px) {
  .blog-nav {
    padding-left: 0px;
  }
}

@media screen and (min-width: 0px) {
  .blog-nav {
    padding-left: 20px;
  }
}

.blog-nav h1 {
  text-align: center;
  font-weight: 100;
}

.blog-nav .card {
  padding: 10px;
  margin: 10px;
  font-weight: 100;
}

.blog-nav .card h1 {
  background-color: #282828;
  color: whitesmoke;
}

.blog-nav .card-link {
  color: black;
}

.blog-nav .card:hover {
  box-shadow: 5px 5px goldenrod;
  transition: 0.2s ease-in;
  transition: 0.2s ease-out;
}

.blog-nav .card h4 {
  font-weight: 100;
}

.blog_detail .ql-syntax {
  width: 100%;
  min-height: 43px;
  display: block;
  float: left;
  border-radius: 5px;
  padding: 10px;
  background-color: #01013e;
  color: whitesmoke;
}

.blog_detail .max-space {
  width: 100%;
}

.blog_detail p {
  clear: both;
}

.comment-container {
  padding: 40px;
  padding-left: 0;
  height: 300px;
  float: left;
}

.comment-container textarea {
  height: 70px;
}

.comment-container label {
  color: whitesmoke;
}

.comment-container .d-block {
  padding: 20px;
  margin-bottom: 10px;
  float: left;
  width: 70%;
}

.comment-container .comment {
  border-radius: 5px;
  color: whitesmoke;
  padding-bottom: 0;
}

.comment-container .comment h6 {
  font-weight: 100;
  border-bottom: 1px solid orange;
}

.comment-container .comment-box {
  width: 50%;
  clear: both;
}

.blog-detail .all-comments {
  width: 100%;
  padding-top: 0;
}

.blog_detail .language-php {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 100;
}

.blog_detail .btn-warning {
  padding: 10px;
  float: right;
}

.blog_detail h2, .blog-detail h1 {
  background-color: whitesmoke;
  font-weight: 100;
  border-bottom: 1px solid orange;
}

.projects_show #all-projects {
  text-align: center;
  padding: 30px;
  font-size: 2em;
  border-bottom: 1px solid orange;
}

.projects_show .list-group-item {
  border-bottom: 2px solid orange;
  padding: 40px;
}

.projects_show .list-group-item p {
  background: #2f2f2f;
  color: orange;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.projects_show h5 {
  text-align: center;
  margin: auto;
  font-weight: 100;
  font-size: 2em;
  width: 45%;
  border-bottom: 1px solid orange;
}

.projects_show small {
  display: block;
  padding-bottom: 16px;
  text-align: center;
  margin: auto;
}
